body {
    background-color: rgb(5, 5, 5);
    background-repeat: no-repeat;
    background-position: center center;
}

div {
    text-align: center;
}

h1, h2 {
    color: white; 
    font-family: cursive;

}

.nombre {
    font-size: 50px;
    background-color: rgb(21, 209, 216);
}

.nombre:hover {
    color: rgb(155, 176, 248);
}

#mensaje {
    font-size: 100px;
}

.imagen_principal {
    border-radius: 5%; 
    box-shadow: 1em;
}

.imagen_principal:hover {
    border-style: solid;
    border-color: rgb(155, 176, 248);
}

.contenedor {
    display: flex;
}

.columna-1 {
    background-color:rgb(136, 10, 125);
    padding: 25px;
    margin: 0 10px;
    width: 50%;
    border: 10px solid rgb(149, 80, 182);
}

.columna-2 {
    background-color: rgb(136, 10, 125);
    padding: 25px;
    margin: 0 10px;
    width: 50%;
    border: 10px solid rgb(149, 80, 182);
}

.btn2 {
    background-color: rgb(226, 145, 236);
    width: 250px;
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.btn2:hover {
    background-color: rgb(125, 76, 172);
    
       
}

.btn3 {
    background-color: rgb(226, 145, 236);
    width: 250px;
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.btn3:hover {
    background-color: rgb(125, 76, 172);
    
       
}

.btn4 {
    background-color: rgb(226, 145, 236);
    width: 250px;
    border: 10px;
    padding: 20px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 6px 2px;
    cursor: pointer;
    
}

.btn4:hover {
    background-color: rgb(125, 76, 172);

}

.btn3 {
    background-color: rgb(226, 145, 236);
    width: 250px;
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.btn3:hover {
    background-color: rgb(125, 76, 172);
    
       
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    }

.btn5 {
    background-color: rgb(226, 145, 236);
    width: 300px;
    border: 10px;
    padding: 20px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 2px;
    cursor: pointer;
    
}

.btn5:hover {
    background-color: rgb(125, 76, 172);
}